html, body {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(242, 240, 234);
}
/* NavBar Styling */
.navOptions {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.menuIcon {
    background-image: url(icons/burgerMenu.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
ul li {
    list-style: none;
}
.menuItems {
    overflow: hidden;
    height: 0;
}
.open .menuItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: url(imgs/homepage.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 20px;
    font-weight: bold;
    
}
.open .menu-items-list {
    margin-top: 100px;
}
.open .navBar {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.open .mainContent {
    display: none;
}
.open .home {
    font-size: 32px;
    margin-bottom: 56px;
    margin-top: 16px;
    line-height: 48px;
}
.open .about, .skills {
    display: none;
}
.open .work {
    font-size: 20px;
    font-weight: normal;
    margin-left: 8px;
    line-height: 20px;
}
.open .projects {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 48px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
    cursor: pointer;
}
/* End NavBar Styling */
.imgContainer {
    display: flex;
    justify-content: center;
}
.imgMain {
    background-image: url(imgs/imgHome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 500px;
}

.line {
    border: solid 2px;
    width: 50px;
    margin-left: 0;
}
/* Beginning About Me Styling */
.aboutContentContainer {
    margin-left: 10px;
    
}
.aboutTitle {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}
.img-container {
    display: flex;
    justify-content: center;
}
.aboutMePic {
    background-image: url(imgs/me.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.aboutContainerSpacing {
    padding-left: 20px;
}
.aboutContentTitle {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 5px;
}
.aboutContent {
    font-size: 18px;
    font-weight:100;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;
}
/* End About Styling */

/* Beginning Work Styling */
.workTitle {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}
.spacerImage {
    text-align: center;
    padding-bottom: 30px;
}

/* End Work Styling */

/* Beginning Skills Styling */
h3 {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 300;
}
.skillsTitle {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
}
.skillsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.html {
    background-image: url(skills/html5.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.lineBreak {
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    width:90%;
    height: 5%;
}
.css {
    background-image: url(skills/css3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.javascript {
    background-image: url(skills/js.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.jquery {
    background-image: url(skills/JQuery.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.python {
    background-image: url(skills/python.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.nodejs {
    background-image: url(skills/njs.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.express {
    background-image: url(skills/express.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.react {
    background-image: url(skills/react.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.sql {
    background-image: url(skills/sql.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.git {
    background-image: url(skills/github.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* End Skills Styling */
/* Beginning Footer Styling */
.contactSection {
    padding-bottom: 10px;
}
.contactTitle {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}
.contactList {
    display: flex;
    justify-content: center;
}
.icons {
    height: 40px;
    width: 40px;
    margin-right: 11px;
    margin-bottom: 5px;
}
.email {
    background-image: url(icons/emailBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.email:hover{
    background-image: url(icons/email.png);
    cursor: pointer;
}
.linkedIn {
    background-image: url(icons/linkedinBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.linkedIn:hover{
    background-image: url(icons/linkedin.png);
    cursor: pointer;
}
.blog {
    background-image: url(icons/mediumBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.blog:hover{
    background-image: url(icons/medium.png);
    cursor: pointer;
}
.gitHub {
    background-image: url(icons/githubBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.gitHub:hover{
    background-image: url(icons/github.png);
    cursor: pointer;
}
.youTube {
    background-image: url(icons/youtubeBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.youTube:hover{
    background-image: url(icons/youTube.png);
    cursor: pointer;
}
.resume {
    background-image: url(icons/resumeBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.resume:hover{
    background-image: url(icons/resume.png);
    cursor: pointer;
}
/* End of Footer Styling */