html, body {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(242, 240, 234);
}
/* NavBar Styling */
.navOptions {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.menuIcon {
    background-image: url(icons/burgerMenu.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
ul li {
    list-style: none;
}
.menuItems {
    overflow: hidden;
    height: 0;
}
.open .menuItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: url(imgs/homepage.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 20px;
    font-weight: bold;
    
}
.open .menu-items-list {
    margin-top: 100px;
}
.open .navBar {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.open .mainContent {
    display: none;
}
.open .home {
    font-size: 32px;
    margin-bottom: 56px;
    margin-top: 16px;
    line-height: 48px;
}
.open .about, .skills {
    display: none;
}
.open .work {
    font-size: 20px;
    font-weight: normal;
    margin-left: 8px;
    line-height: 20px;
}
.open .projects {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 48px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
    cursor: pointer;
}
/* End NavBar Styling */
.imgContainer {
    display: flex;
    justify-content: center;
}
.imgMain {
    background-image: url(imgs/imgHome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 500px;
}

/* Beginning Footer Styling */
.contactTitle {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}
.contactList {
    display: flex;
    justify-content: space-around;
}
.email {
    background-image: url(icons/emailBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.email:hover{
    background-image: url(icons/email.png);
    cursor: pointer;
}
.linkedIn {
    background-image: url(icons/linkedinBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.linkedIn:hover{
    background-image: url(icons/linkedin.png);
    cursor: pointer;
}
.blog {
    background-image: url(icons/mediumBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.blog:hover{
    background-image: url(icons/medium.png);
    cursor: pointer;
}
.gitHub {
    background-image: url(icons/githubBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.gitHub:hover{
    background-image: url(icons/github.png);
    cursor: pointer;
}
.youTube {
    background-image: url(icons/youtubeBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.youTube:hover{
    background-image: url(icons/youTube.png);
    cursor: pointer;
}
.resume {
    background-image: url(icons/resumeBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.resume:hover{
    background-image: url(icons/resume.png);
    cursor: pointer;
}
/* End of Footer Styling */